//-
    name: top-social
    description: Markup for the top social icons block.
    arguments:
        - {object} props - Block properties.
        - {string} props.facebook - Facebook account URL.
        - {string} props.twitter - Twitter account URL.
        - {string} props.linkedin - LinkedIn account URL.

mixin top-social(props = {})
    ul.top-social&attributes(attributes)
        if props.facebook
            li.top-social__item
                a(
                    href=props.facebook
                    aria-label="Follow on Facebook"
                ).top-social__link
                    i.zmdi.zmdi-facebook(aria-hidden="true")

        if props.twitter
            li.top-social__item
                a(
                    href=props.twitter
                    aria-label="Follow on Twitter"
                ).top-social__link
                    i.zmdi.zmdi-twitter(aria-hidden="true")

        if props.linkedin
            li.top-social__item
                a(
                    href=props.linkedin
                    aria-label="Follow on LinkedIn"
                ).top-social__link
                    i.zmdi.zmdi-linkedin(aria-hidden="true")
