//-
    name: header-search
    description: Markup for the header search block.

mixin header-search()
    .header-search&attributes(attributes)
        button(
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="header-search"
            aria-label="Search"
        ).header-search__trigger
            i.zmdi.zmdi-search(aria-hidden="true")

        .header-search__drop#header-search
            form(method="GET" action="").header-search__form
                +input(
                    type="text"
                    name="s"
                    placeholder="Enter your keyword..."
                )
