//-
    name: navbar-item
    description: Markup for the navbar item block.
    arguments:
        - {object} props - Block properties.

mixin navbar-item(props = {})
    - const tag = props.isListItem ? 'li' : 'div';
    #{tag}(class={
        'navbar-item': true,
        'navbar-item_first': !!props.isFirstItem,
        'navbar-item_has-dropdown': !!props.hasDropdown,
        'navbar-item_desktop-dropdown': !!props.desktopDropdown,
    })&attributes(attributes)
        if props.hasDropdown
            button(
                aria-haspopup="true"
                aria-expanded="false"
                title=props.icon && props.title
            ).navbar-item__link
                if props.icon
                    span.navbar-item__icon(aria-hidden="true")
                        i.zmdi(class=`zmdi-${props.icon}`)
                span.navbar-item__title= props.title
                span.navbar-item__arrow(aria-hidden="true")
                    i.zmdi.zmdi-chevron-down
            
            .navbar-item__popup
                .navbar-item__popup-inner
                    if block
                        block
        else
            a(href=props.url).navbar-item__link
                span.navbar-item__title= props.title