//-
    name: top-banner
    description: Markup for the top banner block
    arguments:
        - {object} props - Block properties.
        - {string} props.title - Banner title.
        - {string} props.text - Banner text.
        - {string} props.bg - Backgroung image.

mixin top-banner(props)
    .top-banner(
        style=`background-image: url("${props.bg}");`
    )&attributes(attributes)
        .top-banner__inner
            .top-banner__content
                h1.title.title_size_xl.title_center.title_theme_light= props.title
                p.rich-text.top-banner__text !{props.text}

            a(
                href="#header-top"
                aria-label="Scroll down"
            ).top-banner__scroll.top-banner__scroll_animated
                i.zmdi.zmdi-chevron-down(aria-hidden="true")
