//-
    name: lang-menu
    description: Markup for the language menu block.
    arguments:
        - {object} props - Block properties.
        - {array} props.items - Menu items.
        - {string} props.items[].lang - Item lang (optional).
        - {string} props.items[].text - Item text.
        - {string} props.items[].url - Item URL.

mixin lang-menu(props)
    .lang-menu&attributes(attributes)
        button(
            aria-haspopup="true"
            aria-expanded="fase"
            aria-controls="lang-menu"
            aria-label="Choose a different language"
        ).lang-menu__trigger
            i.zmdi.zmdi-globe-alt(aria-hidden="true")

        .lang-menu__drop
            ul.lang-menu__list
                each item in props.items
                    li.lang-menu__item
                        a(href=item.url lang=item.lang).lang-menu__link
                            = item.text
