//-
    name: lang-menu
    description: Markup for the language menu block
    arguments:
        - {array} data - block data
        - {string} data[].lang - item lang (optional)
        - {string} data[].text - item text
        - {string} data[].url - item URL

mixin lang-menu(data = [])
    .lang-menu&attributes(attributes)
        button(
            aria-haspopup="true"
            aria-expanded="fase"
            aria-controls="lang-menu"
            aria-label="Choose a different language"
        ).lang-menu__trigger
            i.zmdi.zmdi-globe-alt(aria-hidden="true")

        .lang-menu__drop
            ul.lang-menu__list
                each item in data
                    li.lang-menu__item
                        a(href=item.url lang=item.lang).lang-menu__link
                            = item.text
        // .lang-menu__drop 
    // .lang-menu 
