//-
    name: navbar
    description: Markup for the navigation bar block.
    arguments:
        - {object} props - Block properties.
        - {object[]} props.mainMenu - Main menu items.
        - {string} props.mainMenu[].title - Main menu item title.
        - {string} props.mainMenu[].icon - Optional mein menu item icon.
        - {string} props.mainMenu[].url - Main menu item target URL.
        - {object[]} props.mainMenu[].submenu - Main menu item submenu.
        - {object[]} props.langMenu - Language menu items.

mixin navbar(props)
    .navbar&attributes(attributes)
        .navbar__dimmer(aria-hidden="true")

        .navbar__container(tabindex="-1")
            .navbar__inner
                nav.navbar__menu
                    ul.navbar__menu-list
                        each item, i in props.mainMenu
                            if item.submenu
                                +navbar-dropdown({
                                    isListItem: true,
                                    title: item.title,
                                    isFirstItem: i === 0,
                                }).navbar__menu-item
                                    +navbar-submenu({ items: item.submenu })
                            else
                                li.navbar-item(
                                    class=(i === 0) && "navbar-item_first"
                                )
                                    a(href=item.url).navbar-item__link
                                        if item.icon
                                            span.navbar-item__icon(
                                                aria-hidden="true"
                                            )
                                                i.zmdi(
                                                    class=`zmdi-${item.icon}`
                                                )
                                        span.navbar-item__title= item.title
                +navbar-dropdown({
                    icon: 'search',
                    title: 'Search',
                    desktopOnly: true,
                }).navbar__search
                    +navbar-search()

                +navbar-dropdown({
                    icon: 'globe-alt',
                    title: 'Language',
                    isLastItem: true,
                }).navbar__lang-menu
                    +navbar-submenu({ items: props.langMenu })
                
                +btn({
                    url: 'javascript:void(0);'
                }).navbar__order-btn Request a Rate

                button.navbar__close-btn(aria-label="Close menu")
                    i.zmdi.zmdi-close-circle-o(aria-hidden="true")
