//- Common block imports
include ../../blocks/common/btn/btn.pug
include ../../blocks/common/input/input.pug
include ../../blocks/layout/header/header.pug
include ../../blocks/layout/logo/logo.pug
include ../../blocks/layout/navbar/navbar.pug
include ../../blocks/layout/navbar-dropdown/navbar-dropdown.pug
include ../../blocks/layout/navbar-search/navbar-search.pug
include ../../blocks/layout/navbar-submenu/navbar-submenu.pug
include ../../blocks/layout/top-banner/top-banner.pug
include ../../blocks/layout/top-contacts/top-contacts.pug
include ../../blocks/layout/top-social/top-social.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        if data.pageTitle
            title #{data.pageTitle} | #{data.siteTitle}
        else
            title #{data.siteTitle} &#8211; #{data.siteTagline}

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:500,800%7CRoboto:400")
        link(rel="stylesheet", href=`assets/css/style.css?v=${data.version}`)

        link(rel="apple-touch-icon", sizes="180x180", href="assets/img/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png", sizes="32x32", href="assets/img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png", sizes="16x16", href="assets/img/favicon/favicon-16x16.png")
        link(rel="manifest" href="assets/site.webmanifest")
        meta(name="msapplication-config", content="assets/browserconfig.xml") 
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")

    body.page
        a(href="#content").skip-link.page__skip-link Skip to content

        +header({
            banner: data.header.banner,
            logo: data.logo,
            contacts: data.contacts,
            social: data.social,
            mainMenu: data.mainMenu,
            langMenu: data.langMenu,
            isHomepage: data.isHomepage,
        })

        block page

        block scripts
            script(src=`assets/js/main.js?v=${data.version}`)
